<a href="https://colab.research.google.com/github/prashantshukla01/Pyspark_Tutorial/blob/main/pyspark_tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.12/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.12/dist-packages (from pyspark) (0.10.9.7)

In [2]:
import pyspark

In [3]:
import pandas as pd

In [4]:
pd.read_csv('cars.csv')

        brand  km_driven    fuel                 owner  selling_price
0      Maruti     145500  Diesel           First Owner         450000
1       Skoda     120000  Diesel          Second Owner         370000
2       Honda     140000  Petrol           Third Owner         158000
3     Hyundai     127000  Diesel           First Owner         225000
4      Maruti     120000  Petrol           First Owner         130000
...       ...        ...     ...                   ...            ...
8123  Hyundai     110000  Petrol           First Owner         320000
8124  Hyundai     119000  Diesel  Fourth & Above Owner         135000
8125   Maruti     120000  Diesel           First Owner         382000
8126     Tata      25000  Diesel           First Owner         290000
8127     Tata      25000  Diesel           First Owner         290000

[8128 rows x 5 columns]

In [5]:
from pyspark.sql import SparkSession

In [6]:
spark = SparkSession.builder.appName('Practise').getOrCreate()

In [7]:
spark

In [8]:
df_pyspark = spark.read.csv('cars.csv')

In [9]:
df_pyspark.show()

+--------+---------+------+------------+-------------+
|     _c0|      _c1|   _c2|         _c3|          _c4|
+--------+---------+------+------------+-------------+
|   brand|km_driven|  fuel|       owner|selling_price|
|  Maruti|   145500|Diesel| First Owner|       450000|
|   Skoda|   120000|Diesel|Second Owner|       370000|
|   Honda|   140000|Petrol| Third Owner|       158000|
| Hyundai|   127000|Diesel| First Owner|       225000|
|  Maruti|   120000|Petrol| First Owner|       130000|
| Hyundai|    45000|Petrol| First Owner|       440000|
|  Maruti|   175000|   LPG| First Owner|        96000|
|  Maruti|     5000|Petrol|Second Owner|        45000|
|  Toyota|    90000|Diesel| First Owner|       350000|
|    Ford|   169000|Diesel| First Owner|       200000|
| Renault|    68000|Diesel|Second Owner|       500000|
|  Maruti|   100000|Petrol|Second Owner|        92000|
|  Maruti|   140000|Diesel|Second Owner|       280000|
|  Maruti|    80000|Petrol|Second Owner|       200000|
|  Maruti|    90000|Petrol|Second Owner|       180000|
|Mahindra|    40000|Petrol| First Owner|       400000|
|  Maruti|    70000|Diesel|Second Owner|       778000|
| Hyundai|    53000|Diesel|Second Owner|       500000|
|  Maruti|    80000|Petrol|Second Owner|       150000|
+--------+---------+------+------------+-------------+
only showing top 20 rows

In [10]:
df_pyspark=spark.read.option('header', 'true').csv('cars.csv')

DataFrame[brand: string, km_driven: string, fuel: string, owner: string, selling_price: string]

In [11]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [12]:
df_pyspark.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)