<a href="https://colab.research.google.com/github/prashantshukla01/Pyspark_Tutorial/blob/main/tutorial_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.12/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.12/dist-packages (from pyspark) (0.10.9.7)

In [2]:
import pyspark

In [3]:
import pandas as pd

In [4]:
pd.read_csv('cars.csv')

        brand  km_driven    fuel                 owner  selling_price
0      Maruti     145500  Diesel           First Owner         450000
1       Skoda     120000  Diesel          Second Owner         370000
2       Honda     140000  Petrol           Third Owner         158000
3     Hyundai     127000  Diesel           First Owner         225000
4      Maruti     120000  Petrol           First Owner         130000
...       ...        ...     ...                   ...            ...
8123  Hyundai     110000  Petrol           First Owner         320000
8124  Hyundai     119000  Diesel  Fourth & Above Owner         135000
8125   Maruti     120000  Diesel           First Owner         382000
8126     Tata      25000  Diesel           First Owner         290000
8127     Tata      25000  Diesel           First Owner         290000

[8128 rows x 5 columns]

In [5]:
from pyspark.sql import SparkSession

In [6]:
spark = SparkSession.builder.appName('Practise').getOrCreate()

In [7]:
spark

In [7]:
df_pyspark = spark.read.csv('cars.csv')

In [8]:
df_pyspark.show()

+--------+---------+------+------------+-------------+
|     _c0|      _c1|   _c2|         _c3|          _c4|
+--------+---------+------+------------+-------------+
|   brand|km_driven|  fuel|       owner|selling_price|
|  Maruti|   145500|Diesel| First Owner|       450000|
|   Skoda|   120000|Diesel|Second Owner|       370000|
|   Honda|   140000|Petrol| Third Owner|       158000|
| Hyundai|   127000|Diesel| First Owner|       225000|
|  Maruti|   120000|Petrol| First Owner|       130000|
| Hyundai|    45000|Petrol| First Owner|       440000|
|  Maruti|   175000|   LPG| First Owner|        96000|
|  Maruti|     5000|Petrol|Second Owner|        45000|
|  Toyota|    90000|Diesel| First Owner|       350000|
|    Ford|   169000|Diesel| First Owner|       200000|
| Renault|    68000|Diesel|Second Owner|       500000|
|  Maruti|   100000|Petrol|Second Owner|        92000|
|  Maruti|   140000|Diesel|Second Owner|       280000|
|  Maruti|    80000|Petrol|Second Owner|       200000|
|  Maruti|    90000|Petrol|Second Owner|       180000|
|Mahindra|    40000|Petrol| First Owner|       400000|
|  Maruti|    70000|Diesel|Second Owner|       778000|
| Hyundai|    53000|Diesel|Second Owner|       500000|
|  Maruti|    80000|Petrol|Second Owner|       150000|
+--------+---------+------+------------+-------------+
only showing top 20 rows

In [9]:
df_pyspark=spark.read.option('header', 'true').csv('cars.csv')
# if inferSchema = True

In [10]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [11]:
df_pyspark.printSchema()

root
 |-- brand: string (nullable = true)
 |-- km_driven: string (nullable = true)
 |-- fuel: string (nullable = true)
 |-- owner: string (nullable = true)
 |-- selling_price: string (nullable = true)

In [13]:
df_pyspark=spark.read.option('header', 'true').csv('cars.csv', inferSchema = True)

In [14]:
df_pyspark.printSchema()

root
 |-- brand: string (nullable = true)
 |-- km_driven: integer (nullable = true)
 |-- fuel: string (nullable = true)
 |-- owner: string (nullable = true)
 |-- selling_price: integer (nullable = true)

In [12]:
df_pyspark.head()

Row(brand='Maruti', km_driven='145500', fuel='Diesel', owner='First Owner', selling_price='450000')

In [13]:
df_pyspark.select(['brand', 'fuel']).show()

+--------+------+
|   brand|  fuel|
+--------+------+
|  Maruti|Diesel|
|   Skoda|Diesel|
|   Honda|Petrol|
| Hyundai|Diesel|
|  Maruti|Petrol|
| Hyundai|Petrol|
|  Maruti|   LPG|
|  Maruti|Petrol|
|  Toyota|Diesel|
|    Ford|Diesel|
| Renault|Diesel|
|  Maruti|Petrol|
|  Maruti|Diesel|
|  Maruti|Petrol|
|  Maruti|Petrol|
|Mahindra|Petrol|
|  Maruti|Diesel|
| Hyundai|Diesel|
|  Maruti|Petrol|
| Hyundai|Diesel|
+--------+------+
only showing top 20 rows

In [14]:
df_pyspark.describe()

DataFrame[summary: string, brand: string, km_driven: string, fuel: string, owner: string, selling_price: string]

In [15]:
df_pyspark.describe().show()

+-------+----------+------------------+------+-----------+-----------------+
|summary|     brand|         km_driven|  fuel|      owner|    selling_price|
+-------+----------+------------------+------+-----------+-----------------+
|  count|      8128|              8128|  8128|       8128|             8128|
|   mean|      NULL| 69819.51082677166|  NULL|       NULL|638271.8077017716|
| stddev|      NULL|56550.554958219276|  NULL|       NULL|806253.4035082327|
|    min|Ambassador|                 1|   CNG|First Owner|           100000|
|    max|     Volvo|             99500|Petrol|Third Owner|           999000|
+-------+----------+------------------+------+-----------+-----------------+

In [16]:
### adding columns to dataframe
df_pyspark.withColumn('Km driven after 2000 kms',df_pyspark['km_driven']+2000)

DataFrame[brand: string, km_driven: string, fuel: string, owner: string, selling_price: string, Km driven after 2000 kms: double]

In [17]:
### adding columns to dataframe
df_pyspark.withColumn('Km driven after 2000 kms',df_pyspark['km_driven']+2000).show()

+--------+---------+------+------------+-------------+------------------------+
|   brand|km_driven|  fuel|       owner|selling_price|Km driven after 2000 kms|
+--------+---------+------+------------+-------------+------------------------+
|  Maruti|   145500|Diesel| First Owner|       450000|                147500.0|
|   Skoda|   120000|Diesel|Second Owner|       370000|                122000.0|
|   Honda|   140000|Petrol| Third Owner|       158000|                142000.0|
| Hyundai|   127000|Diesel| First Owner|       225000|                129000.0|
|  Maruti|   120000|Petrol| First Owner|       130000|                122000.0|
| Hyundai|    45000|Petrol| First Owner|       440000|                 47000.0|
|  Maruti|   175000|   LPG| First Owner|        96000|                177000.0|
|  Maruti|     5000|Petrol|Second Owner|        45000|                  7000.0|
|  Toyota|    90000|Diesel| First Owner|       350000|                 92000.0|
|    Ford|   169000|Diesel| First Owner|       200000|                171000.0|
| Renault|    68000|Diesel|Second Owner|       500000|                 70000.0|
|  Maruti|   100000|Petrol|Second Owner|        92000|                102000.0|
|  Maruti|   140000|Diesel|Second Owner|       280000|                142000.0|
|  Maruti|    80000|Petrol|Second Owner|       200000|                 82000.0|
|  Maruti|    90000|Petrol|Second Owner|       180000|                 92000.0|
|Mahindra|    40000|Petrol| First Owner|       400000|                 42000.0|
|  Maruti|    70000|Diesel|Second Owner|       778000|                 72000.0|
| Hyundai|    53000|Diesel|Second Owner|       500000|                 55000.0|
|  Maruti|    80000|Petrol|Second Owner|       150000|                 82000.0|
| Hyundai|   100000|Diesel| First Owner|       680000|                102000.0|
+--------+---------+------+------------+-------------+------------------------+
only showing top 20 rows

In [18]:
df_pyspark = df_pyspark.withColumn('Km driven after 2000 kms',df_pyspark['km_driven']+2000)

In [19]:
df_pyspark.show()

+--------+---------+------+------------+-------------+------------------------+
|   brand|km_driven|  fuel|       owner|selling_price|Km driven after 2000 kms|
+--------+---------+------+------------+-------------+------------------------+
|  Maruti|   145500|Diesel| First Owner|       450000|                147500.0|
|   Skoda|   120000|Diesel|Second Owner|       370000|                122000.0|
|   Honda|   140000|Petrol| Third Owner|       158000|                142000.0|
| Hyundai|   127000|Diesel| First Owner|       225000|                129000.0|
|  Maruti|   120000|Petrol| First Owner|       130000|                122000.0|
| Hyundai|    45000|Petrol| First Owner|       440000|                 47000.0|
|  Maruti|   175000|   LPG| First Owner|        96000|                177000.0|
|  Maruti|     5000|Petrol|Second Owner|        45000|                  7000.0|
|  Toyota|    90000|Diesel| First Owner|       350000|                 92000.0|
|    Ford|   169000|Diesel| First Owner|       200000|                171000.0|
| Renault|    68000|Diesel|Second Owner|       500000|                 70000.0|
|  Maruti|   100000|Petrol|Second Owner|        92000|                102000.0|
|  Maruti|   140000|Diesel|Second Owner|       280000|                142000.0|
|  Maruti|    80000|Petrol|Second Owner|       200000|                 82000.0|
|  Maruti|    90000|Petrol|Second Owner|       180000|                 92000.0|
|Mahindra|    40000|Petrol| First Owner|       400000|                 42000.0|
|  Maruti|    70000|Diesel|Second Owner|       778000|                 72000.0|
| Hyundai|    53000|Diesel|Second Owner|       500000|                 55000.0|
|  Maruti|    80000|Petrol|Second Owner|       150000|                 82000.0|
| Hyundai|   100000|Diesel| First Owner|       680000|                102000.0|
+--------+---------+------+------------+-------------+------------------------+
only showing top 20 rows

In [20]:
### drop the columns
df_pyspark=df_pyspark.drop('Km driven after 2000 kms')

In [21]:
df_pyspark.show()

+--------+---------+------+------------+-------------+
|   brand|km_driven|  fuel|       owner|selling_price|
+--------+---------+------+------------+-------------+
|  Maruti|   145500|Diesel| First Owner|       450000|
|   Skoda|   120000|Diesel|Second Owner|       370000|
|   Honda|   140000|Petrol| Third Owner|       158000|
| Hyundai|   127000|Diesel| First Owner|       225000|
|  Maruti|   120000|Petrol| First Owner|       130000|
| Hyundai|    45000|Petrol| First Owner|       440000|
|  Maruti|   175000|   LPG| First Owner|        96000|
|  Maruti|     5000|Petrol|Second Owner|        45000|
|  Toyota|    90000|Diesel| First Owner|       350000|
|    Ford|   169000|Diesel| First Owner|       200000|
| Renault|    68000|Diesel|Second Owner|       500000|
|  Maruti|   100000|Petrol|Second Owner|        92000|
|  Maruti|   140000|Diesel|Second Owner|       280000|
|  Maruti|    80000|Petrol|Second Owner|       200000|
|  Maruti|    90000|Petrol|Second Owner|       180000|
|Mahindra|    40000|Petrol| First Owner|       400000|
|  Maruti|    70000|Diesel|Second Owner|       778000|
| Hyundai|    53000|Diesel|Second Owner|       500000|
|  Maruti|    80000|Petrol|Second Owner|       150000|
| Hyundai|   100000|Diesel| First Owner|       680000|
+--------+---------+------+------------+-------------+
only showing top 20 rows

In [22]:
## rename the columns
df_pyspark= df_pyspark.withColumnRenamed('fuel' , 'fuel_type')

In [23]:
df_pyspark.show()

+--------+---------+---------+------------+-------------+
|   brand|km_driven|fuel_type|       owner|selling_price|
+--------+---------+---------+------------+-------------+
|  Maruti|   145500|   Diesel| First Owner|       450000|
|   Skoda|   120000|   Diesel|Second Owner|       370000|
|   Honda|   140000|   Petrol| Third Owner|       158000|
| Hyundai|   127000|   Diesel| First Owner|       225000|
|  Maruti|   120000|   Petrol| First Owner|       130000|
| Hyundai|    45000|   Petrol| First Owner|       440000|
|  Maruti|   175000|      LPG| First Owner|        96000|
|  Maruti|     5000|   Petrol|Second Owner|        45000|
|  Toyota|    90000|   Diesel| First Owner|       350000|
|    Ford|   169000|   Diesel| First Owner|       200000|
| Renault|    68000|   Diesel|Second Owner|       500000|
|  Maruti|   100000|   Petrol|Second Owner|        92000|
|  Maruti|   140000|   Diesel|Second Owner|       280000|
|  Maruti|    80000|   Petrol|Second Owner|       200000|
|  Maruti|    90000|   Petrol|Second Owner|       180000|
|Mahindra|    40000|   Petrol| First Owner|       400000|
|  Maruti|    70000|   Diesel|Second Owner|       778000|
| Hyundai|    53000|   Diesel|Second Owner|       500000|
|  Maruti|    80000|   Petrol|Second Owner|       150000|
| Hyundai|   100000|   Diesel| First Owner|       680000|
+--------+---------+---------+------------+-------------+
only showing top 20 rows